<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ByMe</title>
</head>
<body>
    {% extends 'base.html' %} {% block content %}
    <h1>About ByME</h1>
    <hr />
<p>A crypto app that allows you (the user) to create, update and delete symbols from your personalized watchlist. You will be able to add a $ amount of how much you'd like to or will invest in specific symbols.</p>
{% endblock %}
<footer>ByMe Crypto Knowledge & Investment App 2022 ZG<footer>
    
</body>
</html>