{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>ByMe</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li>
            <a href="/" class="left brand-logo">&nbsp;&nbsp;ByMe</a>
          </li>
          <ul class="right">
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'investments_create' %}">Add an Investment</a></li>
            <li><a href="{% url 'investments_index' %}">View All Investments</a></li>
            <li><a href="{% url 'symbols_create' %}">Add a Symbol</a></li>
            <li><a href="{% url 'index' %}">View All My Symbols</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
      </div>
    </nav>
  </header>

  <main class="container">{% block content %} {% endblock %}</main>

  <footer class="page-footer">
    <div class="right">
      ByMe Crypto Knowledge & Investment App 2022 ZG
    </div>
  </footer>

</body>

</html>
</body>

</html>