<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book List</title>
  </head>

  <body>
    <h1>Edit Book</h1>
    <form action="/staff/<%=staff._id%>?_method=PUT" method="POST"></form>
    <form>
      <!--  NOTE: the form is pre-populated with values for the server-->
      Name: <input type="text" name="name" value="<%=staff.title%>" /><br />
      Title: <input type="text" name="title" value="<%=staff.job%>" /><br />
      Tasks: <input type="text" name="title" value="<%=staff.tasks%>" /><br />
      Completed: <input type="checkbox" name="completed" <% if(staff.completed
      === true){ %> checked <% } %> />
      <br />
      <input type="submit" value="Submit Changes" />
    </form>
  </body>
</html>
