
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New Staff</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <div class="text-center">
      <h1>Meet Our New Hire</h1>
      
      <form action="/staff/new" method="POST">
        <h4> Name </h4>
        <input type="text" name="name" />
        <h4> Title </h4>
        <input type="text" name="title" />
        <h4> Job</h4>
        <input type="text" name="job" />
        <h4> Image Link </h4>
        <input type="text" name="img"/>
        <h4> List of Tasks (separated by comma)</h4>
        <input type="text" name="tasks" />
        <br>
        <input type="submit" value="Add New Employee" />
      </form>
    </div>
    </body>
    </html>