body {
    background-color: rgb(237, 241, 238);
    background-image: url(https://media.giphy.com/media/MagSgolK3ScWvtHAB4/giphy.gif);
    background-size:cover;
    color: rgb(240, 233, 237);
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.3em;
}
